.weatherApp {
  padding: 1rem;
  flex-flow: column;
  border: 5px solid #693250;
  border-radius: 5px;
}


@media screen and (max-width: 768px) {
.weatherApp {
  width: 20rem;
  margin: 0 0 1rem 1rem;
}

}