//////////////////////////////////////////////////////////////////////// 2560 ////////////////////////////////////////////////////////////////////////
.weatherApp {
  padding: 1rem;
  border-radius: 5px;
  font-size: 2rem;
  img{
    width: 80px;
  }
}

@media screen and (max-width: 480px) {
  .weatherApp {
   width: auto;
   transform: translateY(-1rem);
  }
}


//////////////////////////////////////////////////////////////////////// 1980 ////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 1920px) {
  .weatherApp {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
  }

}

