.react-calendar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid #693250;
  border-radius: 5px;
}

@media screen and (max-width: 480px) {
  .react-calendar{
    width: 22rem;
    height: 17rem;
    margin: 0 0 0rem 0rem;
    font-size: large;
  }
}