.header-container {
  background-color: #693250;
  height: 100px;
  display: flex;
  position: fixed;
  top: 10;
  width: 100%;
  z-index: 1;
  color: white;
}

.header-title {
  font-size: 30px;
  margin-left: 50px;
  margin-top: 20px;
}

.search-btn {
position: absolute;
right: 4vh;
top: 4vh;
cursor: pointer;
}