footer{
 background-color: #676767;
 margin: 0 auto;
 font-size: medium;
 font-weight: bold;
 text-align: center;

 position: absolute;
 bottom: 0;
 width: 100%;
  height: 60px;
  color: white;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  
}