.TwitterWrapper {
  overflow: scroll;
  height: 65vh;
}


.Tweet {
  margin: 1.2rem;
  padding: 1.5rem;
  background-color: #f6f6f6b8;
  box-shadow: #575a5c80 0px 0px 5px;
  font-size: 2rem;
}


@media screen and (max-width: 768px) {
  .TwitterWrapper {
    width: 20rem;
    margin: 0 0 1rem 1rem;
  }
}
