* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: repeat(6, 1fr);
  height: 100vh;
  width: 100%;
}
::-webkit-scrollbar {
  width: 5px;
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #693250;
  border-radius: 0px;
}

.AppHeader {
  grid-area: 1 / 1 / 2 / 13;
}

.CalenderApp {
  grid-area: 2 / 9 / 3 / 13;
  border: 5px solid #693250;
  margin: 1rem 1rem 0 1rem;
  height: 18rem;
}

.WeatherApp {
  grid-area: 3 / 11 / 5 / 13; 
  margin: 1rem 1rem 0 0;

  margin-left: 1rem;
  border: 5px solid #693250;
  height: 18rem;
}

.SL {
  margin: 1rem 0 0 1rem;
  grid-area: 2 / 1 / 5 / 5;
  border: #009fe3 solid 5px;
  border-radius: 5px;

  header {
    background-color: #009fe3;
    text-align: center;
    color: white;
    height: 8rem;
    img{
      width: 80px;
    }
  }
}
.TF {
  grid-area: 2 / 5 / 5 / 9;
  margin: 1rem 0 0 1rem;
  border: 5px solid #693250;
  border-radius: 5px;
  header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #693250;
    margin: 0;
    padding: 0;
    height: 8rem;
    color: white;
  }
}
.piravid {
  grid-area: 3 / 9 / 5 / 11;
  margin: 1rem 0 10rem 1rem;
  border: #693250 solid 5px;
  img {
    width: 20rem;
  }
}
.FootWrapper {
  width: 100%;
  height: 100%;
  grid-area: 6 / 1 / 7 / 13;
}

@media screen and (max-width: 768px) {
  .App {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: repeat(1, 1fr);
    width: 23rem;
  }
  .AppHeader {
    grid-row: 1;
    grid-column: 1/2;
  }
  .CalenderApp {
    grid-row: 2;
    grid-column: 1/2;
    padding: 1rem;
  }
  .WeatherApp {
    grid-row: 3;
    grid-column: 1/2;
  }
  .SL {
    grid-row: 4;
    grid-column: 1/2;
  }
  .TF {
    grid-row: 5;
    grid-column: 1/2;
  }
  .FootWrapper {
    grid-row: 6;
    grid-column: 1/2;
  }

  .TweetHeader {
    width: 20rem;
    margin-left: 1rem;
  }
}

@media screen and (max-width: 1980px) {
.SL {

  header {
    height: 6rem;

    img{
      width: 60px;
    }
  }
}
.TF {

  header {
    height: 6rem;
  }
}
.piravid {
  margin: 1rem;
  img{
    width: 90%;
  }
}

}
